.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "손글씨체";
  font-weight: 700;
  color: #000;
}

.modalForm {
  padding: 50px 40px;
}

.btnRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.closeBtn,
.deleteBtn {
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.closeBtn,
.deleteBtn {
  width: auto;
}

.title {
  font-size: 50px;
  color: #000;
  margin: 0;
}
.modal > section {
  width: 450px;
  height: 650px;
  border-radius: 50px;
  background-color: #eee;
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal > section > footer {
  text-align: right;
}
.modal > section > footer button {
  width: 100px;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 13px;
}

.modal.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.musicName {
  font-size: 32px;
  /* margin-right: 50px; */
}
.musicList {
  /* width: 80%; */
  height: 80%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
.musicRow {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.musicInfoRow {
  display: flex;
}
.thumbnail {
  width: 60px;
  height: 60px;
  background-color: tomato;
  margin-right: 10px;
}

.musicInfo {
  display: flex;
  flex-direction: column;
}

.song {
  font-size: 32px;
}
.singer {
  font-size: 18px;
  margin-top: -10px;
  margin-left: 5px;
}

.currentMusic {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}
.currentRight {
  display: flex;
  align-items: center;
}
.playerIcon {
  margin-right: 20px;
}

.currentSong {
  font-size: 28px;
}
.currentSinger {
  font-size: 16px;
  margin-top: -10px;
}

.currentThumbnail {
  width: 50px;
  height: 50px;
  background-color: turquoise;
}
