@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:wght@400;500;600&display=swap');

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.473);
  }
  .modalForm header {
    display: flex;
    justify-content: center;
  }
  
  .modalForm .title {
    font-size: 30px;
    margin : 0px 13px 0px 13px;
    font-weight: bolder;
    color : #252a34;
;
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  
  .modal > section {
    width: 250px;
    height: 380px;
    /* margin: 0 auto; */
    border-radius: 50px;
    background-color: #eee;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
  }
  .modalTitle {
    display: flex;
  }
  
  label {
    font-weight: 700;
    margin-bottom: 8px;
  }
  .modal > section > footer {
    text-align: right;
  }
  .modal > section > footer button {
    width: 100px;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 13px;
  }
  .modal > section > footer .confirmBtn {
    background-color: #08d9d6;
    margin-right: 20px;
}
.buttonBorder {
    margin-top: 15px;
}
.confirmBtn , .closeBtn {
    background-color: #08d9d6;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #eee;
    margin: 0px 10px 0px 10px;
  }
.closeBtn {
    background-color:#ff5722;
  }
  .modal.openModal {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }
  .icon {
    height: 50px;
    width: 50px;
    margin: 15px 0px 35px 0px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }
 
  .logo {
    z-index: 1;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 2%;
  }
  .logoBorder {
    width: 100%;
    margin-bottom: 30px;
  }
.gameListBorder {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    width: 80%;
}
.game {
    margin: 3px 0px 3px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.buttonBorder {
    margin-top: 25px;
}

input[type=radio] {
    border: none;
    background-color: #d1d3d1;
    width: 20px;
    height: 20px;
}


input[type='radio']:checked {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    /* display: inline-block; */
    visibility: visible;
    /* border: 2px solid white; */
}

  @keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .partyDetail {
    display: flex;
  }
  
  .descriptionForm,
  .configData {
    display: flex;
    flex-direction: column;
  }
  
  .descriptionForm .description {
    height: 100px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    resize: none;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
  }
  