@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:wght@400;500;600&display=swap');

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.473);
  }
  .modalForm header {
    display: flex;
    justify-content: center;
  }
  
  .modalForm .title {
    font-size: 30px;
    margin : 0px 13px 0px 13px;
    font-weight: bolder;
    color : #252a34;
;
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  
  .modal > section {
    width: 300px;
    height: 320px;
    /* margin: 0 auto; */
    border-radius: 50px;
    background-color: #eee;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
  }
  .modalTitle {
    display: flex;
  }
  
  label {
    font-weight: 700;
    margin-bottom: 8px;
  }
  .modal > section > footer {
    text-align: right;
  }
  .modal > section > footer button {
    width: 100px;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 13px;
  }
  .modal > section > footer .confirmBtn {
    background-color: #08d9d6;
    margin-right: 20px;
}
.confirmBtn , .closeBtn {
    background-color: #08d9d6;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #eee;
    margin: 0px 10px 0px 10px;
  }
.closeBtn {
    background-color:#ff5722;
  }
  .modal.openModal {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }
  .titleSection {
    height: 20%;
    width: 80%;
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
  }
  .title {
    font-size: 40px;
    margin: 0px 13px 0px 13px;
    font-weight: bolder;
    color: #252a34;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }
  .logo {
    z-index: 1;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 2%;
  }
  .logoBorder {
    width: 100%;
    margin-bottom: 30px;
  }
.buttonBorder {
    margin-top: 20px;
}
.sound, .mic {
    margin: 25px 0px 30px 0px;
    display: flex;
}
.text {
    margin:0px 20px 0px 0px;
}
input[type=range] {
    -webkit-appearance: none;
    height: 3px;
    margin-top: 11px;
    background-color: #252a34;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none; /*기본 스타일을 사용할지 말지 정하기*/
    height: 18px;
    width: 18px;
    border-radius: 15px;
    outline: 0;
    border: 0;
    background-color: #0075ff;
}



  @keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .partyDetail {
    display: flex;
  }
  
  .descriptionForm,
  .configData {
    display: flex;
    flex-direction: column;
  }
  
  .descriptionForm .description {
    height: 100px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    resize: none;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
  }
  