.nav {
  height: 64px;
}
.body {
  margin-top: -64px;
  height: 100%;
}
.intro_text {
  margin-top: 40%;
  margin-left: 2rem;
  /* position: relative; */
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;

  text-align: left;
}
.welcome_text {
  margin-top: 5%;
  margin-left: 1.2rem;
  position: relative;
  font-size: 4.45rem;
  font-weight: bolder;
  color: #08d9d6;
  text-shadow: 0.5rem -0.03rem 0rem #ff2e63;
  text-align: left;
}
.swelcome_text {
  position: relative;
  margin-right: 2rem;
  font-size: 4.45rem;
  color: #08d9d6;
  font-weight: bolder;
  text-shadow: 0.5rem -0.03rem 0rem #ff2e63;
  text-align: right;
}
.buttonbox {
  display: flex;
  text-align: left;
}
.create_room {
  margin-top: 3rem;
  width: 20rem;
  letter-spacing: 2.5px;
  font-weight: 600;
  font-size: 1.3rem;
  height: 3.5rem;
  margin-left: 15%;
  border-radius: 35px;
  background-color: #eaeaea;
  border: none;
  box-shadow: 0rem 1.5rem 2rem rgba(8, 217, 214, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.create_room:hover {
  box-shadow: 0rem 1.5rem 2rem rgba(8, 217, 214, 0.4);
  color: #08d9d6;
  transform: translateY(-7px);
}
.into_room {
  position: relative;
  margin-top: 3rem;
  width: 20rem;
  height: 3.5rem;
  font-size: 1.3rem;
  margin-left: 15%;
  border-radius: 35px;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #ff2e63;
  box-shadow: 0rem 1.5rem 2rem rgba(255, 46, 99, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.into_room:hover {
  box-shadow: 0rem 1.5rem 2rem rgba(255, 46, 99, 0.4);
  color: black;
  transform: translateY(-7px);
}
.dummy {
  display: block;
}

.slider {
  
  overflow: hidden;
  position: relative;
  height: 100%;
  text-align: center;
}

.slider__slides {
  margin-top: 15%;
  
  position: relative;
  width: 80%;
  height: 60%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  /* /* border: 2px solid black; */
  border-radius: 45px;
  
}

.slider__slide-parts {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.slider__slide-part {
  position: relative;
  
  width: 100%;
  height: 100%;
}
.slider__slide-part-inner {
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  border-style: none;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
}
.slider__slide-part-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  border-style: none;
  background-position: center center;
  transition: opacity 0.25s;
  opacity: 0;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner {
  transition-delay: 0.24s;
  transform: translateX(0%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(1)
  .slider__slide-part-inner {
  transition-delay: 0.28s;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  left: 0vw;
  transition-delay: 0.365s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(1)
  .slider__slide-part-inner:before {
  transition-delay: 0.28s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(4)
  .slider__slide-part-inner:before {
  transition-delay: 0.52s;
}
.slider__slide.s--active .slider__slide-part-inner {
  transform: translateX(0);
  transition-timing-function: ease;
}
.slider__slide.s--active .slider__slide-part-inner:before {
  opacity: 1;
}

@media screen and (width <= 2065px) {
  .body {
    margin-top: -64px;
    height: 100%;
  }
  .intro_text {
    margin-top: 50%;
    margin-left: 1.6rem;
    /* position: relative; */
    font-size: 1.3rem;
    font-weight: bolder;
    color: white;

    text-align: left;
  }
  .welcome_text {
    margin-top: 5%;
    margin-left: 1.2rem;
    position: relative;
    font-size: 3.5rem;
    font-weight: bolder;
    color: #08d9d6;
    text-shadow: 0.5rem -0.03rem 0rem #ff2e63;
    text-align: left;
  }
  .swelcome_text {
    position: relative;
    margin-right: 2rem;
    font-size: 3.5rem;
    color: #08d9d6;
    font-weight: bolder;
    text-shadow: 0.5rem -0.03rem 0rem #ff2e63;
    text-align: right;
  }
  .buttonbox {
    display: flex;
    text-align: left;
  }
  .create_room {
    margin-top: 3rem;
    width: 17rem;
    letter-spacing: 2.5px;
    font-weight: 600;
    font-size: 1rem;
    height: 3rem;
    margin-left: 9%;
    border-radius: 35px;
    background-color: #eaeaea;
    border: none;
    box-shadow: 0rem 1.5rem 2rem rgba(8, 217, 214, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .create_room:hover {
    box-shadow: 0rem 1.5rem 2rem rgba(8, 217, 214, 0.4);
    color: #08d9d6;
    transform: translateY(-7px);
  }
  .into_room {
    position: relative;
    margin-top: 3rem;
    width: 17rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: 15%;
    border-radius: 35px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #ff2e63;
    box-shadow: 0rem 1.5rem 2rem rgba(255, 46, 99, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .into_room:hover {
    box-shadow: 0rem 1.5rem 2rem rgba(255, 46, 99, 0.4);
    color: black;
    transform: translateY(-7px);
  }
  .dummy {
    display: block;
  }

  .slider {
    overflow: hidden;
    position: relative;
    height: 100%;
    text-align: center;
  }

  .slider__slides {
    margin-top: 15%;
    position: relative;
    width: 80%;
    height: 60%;
    display: inline-block;
    /* border: 2px solid black;
      border-radius: 15px; */
  }

  .slider__slide-parts {
    /* z-index: -1; */
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .slider__slide-part {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider__slide-part-inner {
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    border-style: none;
    width: 100%;
    height: 100%;
    background-size: 0 0;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
  }
  .slider__slide-part-inner:before {
    content: "";
    position: absolute;
    border-style: none;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 0.25s;
    opacity: 0;
  }
  .slider__slide-part:nth-child(1) .slider__slide-part-inner {
    transition-delay: 0.24s;
    transform: translateX(0%);
  }
  .slider__slide.s--active
    .slider__slide-part:nth-child(1)
    .slider__slide-part-inner {
    transition-delay: 0.28s;
  }
  .slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
    left: 0vw;
    transition-delay: 0.365s;
  }
  .slider__slide.s--active
    .slider__slide-part:nth-child(1)
    .slider__slide-part-inner:before {
    transition-delay: 0.28s;
  }
  .slider__slide.s--active
    .slider__slide-part:nth-child(4)
    .slider__slide-part-inner:before {
    transition-delay: 0.52s;
  }
  .slider__slide.s--active .slider__slide-part-inner {
    transform: translateX(0);
    transition-timing-function: ease;
  }
  .slider__slide.s--active .slider__slide-part-inner:before {
    opacity: 1;
  }
}

@media screen and (width <= 2065px) {
  .body {
    margin-top: -64px;
    height: 100%;
  }
  .intro_text {
    margin-top: 50%;
    margin-left: 1.6rem;
    /* position: relative; */
    font-size: 1.3rem;
    font-weight: bolder;
    color: white;

    text-align: left;
  }
  .welcome_text {
    margin-top: 5%;
    margin-left: 1.2rem;
    position: relative;
    font-size: 3.5rem;
    font-weight: bolder;
    color: #08d9d6;
    text-shadow: 0.5rem -0.03rem 0rem #ff2e63;
    text-align: left;
  }
  .swelcome_text {
    position: relative;
    margin-right: 2rem;
    font-size: 3.5rem;
    color: #08d9d6;
    font-weight: bolder;
    text-shadow: 0.5rem -0.03rem 0rem #ff2e63;
    text-align: right;
  }
  .buttonbox {
    display: flex;
    text-align: left;
  }
  .create_room {
    margin-top: 3rem;
    width: 16rem;
    letter-spacing: 2.5px;
    font-weight: 600;
    font-size: 1rem;
    height: 3rem;
    margin-left: 6%;
    border-radius: 35px;
    background-color: #eaeaea;
    border: none;
    box-shadow: 0rem 1.5rem 2rem rgba(8, 217, 214, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .create_room:hover {
    box-shadow: 0rem 1.5rem 2rem rgba(8, 217, 214, 0.4);
    color: #08d9d6;
    transform: translateY(-7px);
  }
  .into_room {
    position: relative;
    margin-top: 3rem;
    width: 16rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: 7%;

    border-radius: 35px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #ff2e63;
    box-shadow: 0rem 1.5rem 2rem rgba(255, 46, 99, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .into_room:hover {
    box-shadow: 0rem 1.5rem 2rem rgba(255, 46, 99, 0.4);
    color: black;
    transform: translateY(-7px);
  }
  .dummy {
    display: block;
  }

  .slider {
    overflow: hidden;
    position: relative;
    height: 100%;
    text-align: center;
  }

  .slider__slides {
    margin-top: 15%;
    position: relative;
    width: 80%;
    height: 60%;
    display: inline-block;
    /* border: 2px solid black;
      border-radius: 15px; */
  }

  .slider__slide-parts {
    /* z-index: -1; */
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .slider__slide-part {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider__slide-part-inner {
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    border-style: none;
    width: 100%;
    height: 100%;
    background-size: 0 0;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
  }
  .slider__slide-part-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    border-style: none;
    height: 100%;
    background-image: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 0.25s;
    opacity: 0;
  }
  .slider__slide-part:nth-child(1) .slider__slide-part-inner {
    transition-delay: 0.24s;
    transform: translateX(0%);
  }
  .slider__slide.s--active
    .slider__slide-part:nth-child(1)
    .slider__slide-part-inner {
    transition-delay: 0.28s;
  }
  .slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
    left: 0vw;
    transition-delay: 0.365s;
  }
  .slider__slide.s--active
    .slider__slide-part:nth-child(1)
    .slider__slide-part-inner:before {
    transition-delay: 0.28s;
  }
  .slider__slide.s--active
    .slider__slide-part:nth-child(4)
    .slider__slide-part-inner:before {
    transition-delay: 0.52s;
  }
  .slider__slide.s--active .slider__slide-part-inner {
    transform: translateX(0);
    transition-timing-function: ease;
  }
  .slider__slide.s--active .slider__slide-part-inner:before {
    opacity: 1;
  }
}

@media screen and (width <= 1775px) {
  .body {
    margin-top: -64px;
    height: 100%;
  }
  .intro_text {
    margin-top: 50%;
    margin-left: 1.6rem;
    /* position: relative; */
    font-size: 1.1rem;
    font-weight: bolder;
    color: white;

    text-align: left;
  }
  .welcome_text {
    margin-top: 5%;
    margin-left: 1.2rem;
    position: relative;
    font-size: 3rem;
    font-weight: bolder;
    color: #08d9d6;
    text-shadow: 0.2rem -0.02rem 0rem #ff2e63;
    text-align: left;
  }
  .swelcome_text {
    position: relative;
    margin-right: 2rem;
    font-size: 3rem;
    color: #08d9d6;
    font-weight: bolder;
    text-shadow: 0.2rem -0.02rem 0rem #ff2e63;
    text-align: right;
  }
  .buttonbox {
    display: flex;
    text-align: left;
  }
  .create_room {
    margin-top: 3rem;
    width: 12rem;
    letter-spacing: 2.5px;
    font-weight: 600;
    font-size: 1rem;
    height: 3rem;
    margin-left: 10%;
  }
  .into_room {
    position: relative;
    margin-top: 3rem;
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: 5%;
  }
  .dummy {
    display: block;
  }

  .slider__slides {
    margin-top: 20%;
    position: relative;
    width: 80%;
    height: 60%;
    display: inline-block;
    /* border: 2px solid black;
      border-radius: 15px; */
  }
}

@media screen and (width <= 1403px) {
  .body {
    margin-top: -64px;
    height: 100%;
  }
  .intro_text {
    margin-top: 50%;
    margin-left: 1.6rem;
    /* position: relative; */
    font-size: 0.9rem;
  }
  .welcome_text {
    margin-top: 5%;
    margin-left: 1.2rem;
    font-size: 2.3rem;
    text-shadow: 0.18rem -0.01rem 0rem #ff2e63;
  }
  .swelcome_text {
    margin-right: 2rem;
    font-size: 2.3rem;
    text-shadow: 0.18rem -0.01rem 0rem #ff2e63;
  }
  .buttonbox {
    display: flex;
    text-align: left;
  }
  .create_room {
    margin-top: 3rem;
    width: 12rem;
    letter-spacing: 2.5px;
    font-weight: 600;
    font-size: 0.8rem;
    height: 2.5rem;
    margin-left: 5%;
  }

  .into_room {
    margin-top: 3rem;
    width: 12rem;
    height: 2.5rem;
    font-size: 0.8rem;
    margin-left: 5%;
    border-radius: 35px;
    font-weight: 600;
  }
  .dummy {
    display: block;
  }
  .slider__slides {
    margin-top: 20%;
    position: relative;
    width: 80%;
    height: 60%;
    display: inline-block;
    /* border: 2px solid black;
      border-radius: 15px; */
  }
}
@media screen and (width <= 1327px) {
  .body {
    margin-top: -64px;
    height: 100%;
  }
  .intro_text {
    margin-top: 50%;
    margin-left: 1.6rem;
    /* position: relative; */
    font-size: 0.9rem;
  }
  .welcome_text {
    margin-top: 5%;
    margin-left: 1.2rem;
    font-size: 2.3rem;
    text-shadow: 0.18rem -0.01rem 0rem #ff2e63;
  }
  .swelcome_text {
    margin-right: 2rem;
    font-size: 2.3rem;
    text-shadow: 0.18rem -0.01rem 0rem #ff2e63;
  }
  .buttonbox {
    display: flex;
    text-align: left;
  }
  .create_room {
    margin-top: 3rem;
    width: 11rem;
    letter-spacing: 2.5px;
    font-weight: 600;
    font-size: 0.8rem;
    height: 2.5rem;
    margin-left: 5%;
  }

  .into_room {
    margin-top: 3rem;
    width: 11rem;
    height: 2.5rem;
    font-size: 0.8rem;
    margin-left: 5%;
    border-radius: 35px;
    font-weight: 600;
  }
  .dummy {
    display: block;
  }
  .slider__slides {
    margin-top: 20%;
    position: relative;
    width: 80%;
    height: 60%;
    display: inline-block;
    /* border: 2px solid black;
      border-radius: 15px; */
  }
}
@media (width <= 985px) {
  .dummy {
    display: none;
  }
}
