
.nav{
    height: 64px;
}
.body{
    margin-top: -64px;
    height: 100%;
}
  .intro_text{
    margin-top: 40%;
    margin-left: 2rem;
    /* position: relative; */
    font-size: 1.3rem;
    font-weight:bolder;
    color: white;
    
    text-align: left;
  }
  .welcome_text{
    margin-top: 5%;
    margin-left: 1.2rem;
    position: relative;
    font-size: 4.45rem;
    font-weight:bolder;
    color: #08D9D6;
    text-shadow: 0.5rem -0.03rem 0rem  #FF2E63;
    text-align: left;
  }
  .swelcome_text{
    position: relative;
    margin-right: 2rem;
    font-size: 4.45rem;
    color: #08D9D6;
    font-weight: bolder;
    text-shadow: 0.5rem -0.03rem 0rem #FF2E63;
    text-align: right;
  }
  .buttonbox{
    display:flex;
    text-align: left;
    
  }
  .create_room{
    margin-top: 3rem;
    width: 20rem;
    letter-spacing: 2.5px;
    font-weight: 600;
    font-size: 1.3rem;
    height: 3.5rem;
    margin-left: 15%;
    border-radius: 35px;
    background-color: #EAEAEA;
    border: none;
    box-shadow: 0rem 1.5rem 2rem rgba(8,217,214,0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .create_room:hover{
    box-shadow: 0rem 1.5rem 2rem rgba(8,217,214,0.4);
    color: #08D9D6;
    transform: translateY(-7px);
  }
  .into_room{
    position: relative;
    margin-top: 3rem;
    width: 20rem;
    height: 3.5rem;
    font-size: 1.3rem;
    margin-left: 15%;
    border-radius: 35px;
    font-weight: 600;
    color : white;
    border: none;
    background-color: #FF2E63;
    box-shadow: 0rem 1.5rem 2rem rgba(255,46,99,0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .into_room:hover{
    box-shadow: 0rem 1.5rem 2rem rgba(255,46,99,0.4);
    color: black;
    transform: translateY(-7px);
  }
  .dummy{
    display: block;
  }
  @media(max-width:985px) {
    .buttonbox{
        display:flex;
        text-align: center;
    }
    .intro_text{
        margin-top: 15%;
    }
    .create_room{
        margin-top: 2.5rem;
        width: 17rem;
        height: 3rem;
        margin-left: 25%;
        border-radius: 35px;
        background-color: #08D9D6;
        border: none;
        box-shadow: 0rem 1rem 2rem rgba(8,217,214,0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin-left: 0;
    }
    .into_room{
        position: relative;
        margin-top: 2.5rem;
        width: 17rem;
        height: 3rem;
        margin-left: 15%;
        border-radius: 35px;
        color : white;
        border: none;
        background-color: #FF2E63;
        box-shadow: 0rem 1rem 2rem rgba(255,46,99,0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin-left: 0;
    }
    .dummy{
        display: none;
    }
  }
  
  .slider {
    overflow: hidden;
    position: relative;
    height: 100%;
    text-align: center;
  }

  .slider__slides {
    margin-top: 15%;
    position: relative;
    width: 80%;
    height: 60%;
    display: inline-block;
    /* border: 2px solid black;
    border-radius: 15px; */
  }

  .slider__slide-parts {
    /* z-index: -1; */
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    
  }
  .slider__slide-part {
    position: relative;
    width: 100%;
    height: 100%;
    
  }
  .slider__slide-part-inner {
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    background-size: 0 0;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
  }
  .slider__slide-part-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center center;
    transition: opacity 0.25s;
    opacity: 0;
  }
  .slider__slide-part:nth-child(1) .slider__slide-part-inner {
    transition-delay: 0.24s;
    transform: translateX(0%);
  }
  .slider__slide.s--active .slider__slide-part:nth-child(1) .slider__slide-part-inner {
    transition-delay: 0.28s;
  }
  .slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
    left: 0vw;
    transition-delay: 0.365s;
  }
  .slider__slide.s--active .slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
    transition-delay: 0.28s;
  }
  .slider__slide.s--active .slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
    transition-delay: 0.52s;
  }
  .slider__slide.s--active .slider__slide-part-inner {
    transform: translateX(0);
    transition-timing-function: ease;
  }
  .slider__slide.s--active .slider__slide-part-inner:before {
    opacity: 1;
  }
