.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.nextBtn {
  width: 280px;
  height: 50px;
  background: linear-gradient(to right, #ff2e63 0%, #08d9d6 100%);
  box-shadow: 0rem 0.5rem 1.5rem rgba(82, 240, 237, 0.1);
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: #252a34;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
}

.title {
  margin-top: 15%;
  position: relative;
  font-size: 8rem;
  font-weight: bolder;
  color: #08d9d6;
  text-shadow: 0.5rem -0.05rem 0rem #ff2e63;
  text-align: left;
}

.icon {
  font-size: 25px;
}
