@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:wght@400;500;600&display=swap");

.nickname {
  background: rgba(58, 64, 74, 0.651);
  width: 100%;
  padding: 5px 10px;
  position: absolute;
  z-index: 99;
  top: -100%;
  color: #ffffff;
  text-align: left;

  transition: all ease 1s 0s;
}

.streamComponent {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.video-container {
  width: 250px;
  height: 250px;
  position: relative;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#statusIcons {
  top: 0;
  right: 0;
  width: 80px;
  height: 40px;
  z-index: 99;
  position: absolute;
  color: #ffffff;
}

#camIcon,
#micIcon {
  /* background: #c71100; */

  text-align: center;
  margin-left: -12px;
  float: right;
  display: block;
  width: 40px;
  padding: 6px;
}

/* Contains the video element, used to fix video letter-boxing */
.video-innerContainer {
  border-radius: 15px;
  width: 400px;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.video-innerContainer.snapshotMode {
  margin: 0;
  border-radius: 0;
}
.controlbox {
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.video-innerContainer:hover > .nickname {
  top: 0%;
  transition: all ease 1s 0s;
}

.yangGame {
  position: absolute;
  width: 250px;
  height: 20%;
  left: 50px;
  bottom: 20px;
}

.forbiddenGame {
  position: absolute;
  width: 250px;
  height: 20%;
  left: 50px;
  bottom: 0;
}

.forbiddenAlertGame {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forbiddenAlertGameBorder {
  display: flex;
}
.postitInput, .forbiddenpostitInput{
  background-color: #fff44f;
  height: 43px;
  width: 150px;
  position: relative;
  text-align: center;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: -24px;
}

.postit , .forbiddenpostit {
  /* background-color: #ff3399; */
  height: 43px;
  width: 150px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  color: #252525;
  font-weight: bolder;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.inputpostit {
  /* background-color: #ff3399; */
  height: 43px;
  width: 150px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  color: #252525;
  font-weight: bolder;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  position: relative;
  left: 157px;
  bottom: 22px;
}
.inputforbiddenpostit {
  height: 43px;
  width: 150px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  color: #252525;
  font-weight: bolder;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  position: relative;
  left: 157px;
  bottom: 58px;
}
.answerpostit, .answerpostitforbidden {
  height: 24px;
  width: 50px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  width: 42px;
  background-color: #ffffff;
  color: #0036dd;
  border-radius: 10px;
  padding: 8px;
  bottom: -5px;
}
.answerpostitforbidden {
  bottom: -57px;
  left: 53px;
}
.hmmpostit , .hmmpostitforbidden{
  height: 22px;
  width: 50px;
  text-align: center;
  font-weight: bolder;
  flex-direction: row;
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  position: relative;
  background-color: white;
  color: #ee0000;
  border-radius: 10px;
  padding: 11px;
  left: 157px;
  font-size: 11px;
  bottom: 19px;
  padding: 0px 10px 0px 14px;
}
.hmmpostitforbidden {
  left: 210px;
  bottom: 78px;
}

.forbiddenpostit {
  height: 43px;
  width: 150px;
  left: 50px;
  position: relative;
  bottom: 9px;
  
}
.yangkeyword {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  color: #252525;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.keyword,
.subKeyword {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  color: #252525;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.forbiddenpostitInput {
  color: #252525;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  position: relative;
  bottom : 0px;
}

.informText .sendClockIcon {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sirenBtn {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  position: relative;
  top: 0;
}
.sirenIcon {
  width: 100%;
  height: 100px;
  position: relative;
  top: -20px;
  left: 5px;
}
