.nickname {
  background: rgba(58, 64, 74, 0.651);
  width: 100%;
  padding: 5px 10px;
  position: absolute;
  z-index: 999;
  top: -100%;
  color: #ffffff;
  text-align: left;

  transition: all ease 1s 0s;
}

.streamComponent {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.video-container {
  width: 250px;
  height: 250px;
  position: relative;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#statusIcons {
  top: 0;
  right: 0;
  width: 80px;
  height: 40px;
  z-index: 999;
  position: absolute;
  color: #ffffff;
}

#camIcon,
#micIcon {
  /* background: #c71100; */

  text-align: center;
  margin-left: -12px;
  float: right;
  display: block;
  width: 40px;
  padding: 6px;
}

/* Contains the video element, used to fix video letter-boxing */
.video-innerContainer {
  border-radius: 15px;
  width: 400px;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.video-innerContainer.snapshotMode {
  margin: 0;
  border-radius: 0;
}
.controlbox {
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.video-innerContainer:hover > .nickname {
  top: 0%;
  transition: all ease 1s 0s;
}

.yangGame {
  position: absolute;
  width: 250px;
  height : 20%;
  left : 50px;
  bottom : 0;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:wght@400;500;600&display=swap");

.postitInput {
    background-color:  #fff44f;
    height: 80%;
    width: 60%;
    position: absolute;
    text-align: center;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.postit {
    /* background-color: #ff3399; */
    height: 80%;
    width : 60%;
    text-align: center;
    font-size: 18px;
    position : absolute;
    color : #252525;
    font-weight: bolder;
    border-radius: 2px;
    flex-direction: row;
    align-items: center;
}

.keyword, .subKeyword {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    color : #252525;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.informText .sendClockIcon {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

