@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:wght@400;500;600&display=swap");

.icon {
  fill: #eee;
  width: 30px;
  height: 30px;
}


.inputRow {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.formBorder {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.form {
  width: 600px;
  height: 620px;;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  border: 3px solid;
  margin: 0 50px;
  padding-bottom: 30px;

  border-image: linear-gradient(
    #ff2e63 0%,
    #ff5722 22.92%,
    #e6e954 44.79%,
    #5aeba5 65.63%,
    #08d9d6 82.29%,
    #b04dfa 100%
  );
  border-image-slice: 1;
}

.inputArea {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 200px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.input {
  width: 320px;
  height: 50px;
  border: none;
  margin-top: 1rem;
}

.inputWithBtn {
  display: flex;
  flex-direction: row;
}

.checkBtn {
  width: 50px;
  background-color: #ff2e63;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 5px;
}

.confirmBtn {
  width: 50px;
  background-color: #08d9d6;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 5px;
}

.inputData {
  width: 260px;
  height: 30px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-bottom: 1px solid #eee;
  background-color: #252a34;
  color: #eee;
}
.inputData:focus {
  outline: none;
}

.inputData::placeholder {
  font-size: 16px;
  color: #eee;
}
.validMsg {
  position: relative;
  color: #2db400;
  font-size: 15px
}

.invalidMsg {
  position: relative;
  color: #ff5722;
  font-size: 15px
}

.nextBtn {
  width: 240px;
  height: 40px;
  background-color: #08d9d6;
  box-shadow: 0rem 0.5rem 1.5rem rgba(82, 240, 237, 0.1);
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: #252a34;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.title {
  margin-top: 5%;
  position: relative;
  font-size: 3rem;
  font-weight: bolder;
  color: #08d9d6;
  text-shadow: 0.3rem -0.03rem 0rem #ff2e63;
  text-align: left;
}

.content {
  color: #eee;
  font-size: 16px;
}

.info {
  color: #eee;
  font-size: 13px;
}
.findIdForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultId {
  display: flex;
  color: #eee;
  margin-top: 60px;
  margin-bottom: 120px;
  width: 300px;
  height: 100px;
  align-items: center;
}

.idInfo {
  font-size: 20px;
  margin-left: 5px;
}

.resultTitle {
  margin-top: 30px;
}

.confirmButtons {
  width: 360px;
  display: flex;
  justify-content: space-around;
}

.loginBtn {
  width: 150px;
  height: 40px;
  background-color: #ff2e63;
  /* box-shadow: 0rem 0.5rem 1.5rem rgba(250, 215, 223, 0.1); */
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  /* overflow: hidden; */
  text-align: center;
}

.findPwdBtn {
  width: 150px;
  height: 40px;
  background-color: #08d9d6;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: #252a34;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
