@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "손글씨체";
  font-display: fallback;

  /* 
  src: 사용할 폰트의 위치 및 형식 
     Safari, Android, iOS => ttf
     Modern Browsers => woff
     IE6-IE8 => eot
  */
  src: url("./손글씨체.ttf") format("truetype"),
    /* url("./Roboto-Regular.woff") format("woff"), */
      url("./손글씨체.eot?iefix") format("embedded-opentype");

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 700;
  font-style: normal;
}
