.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
}

.modalForm {
  padding: 50px 40px;
}
.modalForm header {
  display: flex;
  margin-bottom: 30px;
}

.modalForm .title {
  font-size: 24px;
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 780px;
  height: 580px;
  /* margin: 0 auto; */
  border-radius: 50px;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.configForm {
  margin-bottom: 20px;
}
.configForm .imagePreview {
  width: 250px;
  height: 200px;
  position: relative;
  margin-right: 30px;
}
.configForm .thumbnail {
  position: relative;
  width: 250px;
  height: 200px;
  border-radius: 20px;
}

.configForm .uploadBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  background: transparent;
}
.configForm .uploadImage {
  width: 30px;
  height: 30px;
}

label {
  font-weight: 700;
  margin-bottom: 8px;
}

.configForm .nameInput {
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.configData {
  justify-content: center;
}
.configData .roomPwd input {
  border: none;
  background-color: #eee;
  border-radius: 20px;
  padding-left: 10px;
}

.configData .radioData {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.radioWrap {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="radio"]:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  margin-right: 0.3rem;
}

input[type="radio"] {
  background-color: #fff;
  border: 1px solid #ff5722;
}

input[type="radio"]:checked {
  background-color: #ff5722;
}

.modal > section > footer {
  text-align: right;
}
.modal > section > footer button {
  width: 100px;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 13px;
}

.modal > section > footer .createBtn {
  background-color: #08d9d6;
  margin-right: 20px;
}

.modal > section > footer .closeBtn {
  background-color: #ff5722;
  color: #fff;
}

.modal.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.configForm {
  display: flex;
}

.descriptionForm,
.configData {
  display: flex;
  flex-direction: column;
}

.descriptionForm .description {
  height: 100px;
  border: none;
  border-radius: 20px;
  background-color: #eee;
  resize: none;
  padding: 15px;
  margin-bottom: 20px;
}

input:focus,
textarea:focus {
  outline: none;
}
