@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:wght@400;500;600&display=swap");

.calendadrFormBorder {
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
}
.calendarForm {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}
.calendarHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  color: tomato;
}
.calendarTitle {
  position: relative;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #eeee;
  text-align: left;
  margin-left: 150px;
}
.calendarBodyBorder {
  margin: 0 auto;
}
.calendarBody {
  border-color: whitesmoke;
  /* overflow: auto; */
  margin-top: 30px;
}
.calendarTop {
  display: flex;
  margin: 0 auto;
}
.month {
  color: #eeee;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bolder;
  text-align: left;
  margin-left: 0rem;
  font-size: 2.5rem;
}
.week {
  width: 10px;
  height: 4rem;
  display: table-row;
}
.day {
  position: relative;
  display: table-cell;
  color: #f3f3f3;
  text-align: center;
  justify-content: center;
  border-color: whitesmoke;
  border: 0.1rem solid white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  width: 10vw;
  height: 10vh;
}
.icon {
  width: 50px;
  height: 50px;
  background-color: transparent;
}
.sunday {
  color: #ff2e63;
}
.saturday {
  color: #08d9d6;
}
.none {
  color: transparent;
}
.partyicon {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url('../../assets/icons/party.svg');
  background-size: contain;
  background-color: transparent;
}
.iconBtn {
  background-color: transparent;
  border: none;
}
.container {
  box-shadow: 0 4px 5px 0 #00000026;
  position: relative;
}
.partyList {
  background: rgb(255, 86, 34);
  border-radius: 8px;
  position: absolute;
  top: 65px;
  width: 100%;
  height: 130px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.0s;
  z-index: 1;
  /* color : rgba(0, 0, 0, 0.933); */
  color: #eee;
  font-weight: bold;
  overflow: auto;
  padding-top: 10px;
  font-size: 20px;
}
.partyList::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}
.partyList::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.partyList::-webkit-scrollbar-track {
  background-color: rgba(255, 86, 34, 0.37);
  border-radius: 15px;
}
.partyList.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.iconBtn {
  border-radius: 90px;
  cursor: pointer;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  transition: box-shadow 0.4s ease;
}

.iconBtn:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.iconBtn span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}
.partyList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.partyList li {
  border-bottom: 1px solid #ffffff;
  color: #eeee;
}

.partyData {
  background-color: transparent;
  border :none;
  margin-bottom: 5px;
  font-size: 15px;
}
.listTitle {
  /* margin-bottom: 15px; */
  width: 100%;
  /* border-bottom: 1px solid #eee; */
}